@media (max-width: 480px){
    header img {
        width: 300px;
    }



.menu {
    margin-top: 0;
    display: block;
}

header {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
}

header nav {
    width: 100%;
    display: none;
}

.show {
    display: block;
}

.banner {
    height: 00px;
    background-position: center;
}

.banner h2 {
    font-size: 2em;
}

.container {
    width: 100%; /* o 100% se adequa aos pixels da página web ou desktop*/
}

.grid {
    grid-template-columns: 100%;
}


}